<div class="col-md-6 mx-auto">
    @if (isPageReady) {
    <div class="text-end my-2">
        <button class="btn btn-primary-c" (click)="addTokenFilePoppup()"><i class="fa-solid fa-plus"></i> Add Token
            File</button>
        <button class="btn btn-primary-c ms-2" (click)="addNewFile()"><i class="fa-solid fa-plus"></i> Add Normal
            File</button>
    </div>
    @if (fileDetails != null && fileDetails.length > 0) {
    <ul class="list-group">
        @for (item of fileDetails; track $index) {
        <li class="list-group-item">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6 d-flex align-items-center">
                    <i class="fa-regular fa-file pe-2"></i>
                    <a href="javascript:void(0)" class="col-md-11 text-decoration-none text-dark file-name"
                        (click)="viewFile(item)">
                        <p class="mb-0 col-md-12 text-truncate">
                            {{item.FileName}}
                        </p>
                    </a>
                </div>
                <div class="col-auto">
                    Admin
                </div>
                <div class="col-auto">
                    {{item.CreatedOn | date}}
                </div>
                <div class="col-auto">
                    <a href="javascript:void(0)" (click)="viewFile(item)">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a href="javascript:void(0)" class="ms-3 text-danger" (click)="deleteFilePopup(item)">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </li>
        }
    </ul>
    }
    } @else {
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }
</div>

<!-- Delete file alert modal -->
<div class="modal fade" id="deleteFileModal" tabindex="-1" aria-labelledby="deleteFileModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                @if (selectDeleteFile != null) {
                Do you really want to delete
                <span class="fw-bold">{{selectDeleteFile.FileName}}</span> file.
                }
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    [disabled]="isLoading">Close</button>
                <button type="button" class="btn btn-danger" [disabled]="isLoading" (click)="deleteFile()">
                    <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLoading, 'fa-trash': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Delete' }}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Delete file alert modal -->
<div class="modal fade" id="manageTokenFileModal" tabindex="-1" aria-labelledby="manageTokenFileModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content px-3">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Token File Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label class="form-label">Key <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Secret key" [(ngModel)]="tokenFileDetail.Key" [ngClass]="{'error-field': submitted && (tokenFileDetail.Key == null || tokenFileDetail.Key == '')}">
                    <p class="mb-0 text-end">
                        <a href="javascript:void(0)" (click)="generateSecretKey()" class="">Generate Key</a>
                    </p>
                </div>
                <div class="col-md-12 mt-3">
                    <label class="form-label">Issuer <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Issuer" [(ngModel)]="tokenFileDetail.Issuer" [ngClass]="{'error-field': submitted && (tokenFileDetail.Issuer == null || tokenFileDetail.Issuer == '')}">
                </div>
                <div class="col-md-12 mt-3">
                    <label class="form-label">Company Code <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Company Code" [(ngModel)]="tokenFileDetail.CompanyCode" [ngClass]="{'error-field': submitted && (tokenFileDetail.CompanyCode == null || tokenFileDetail.CompanyCode == '')}">
                </div>
                <div class="col-md-12 mt-3">
                    <label class="form-label">Expiry Time (seconds) <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" placeholder="Issuer" [(ngModel)]="tokenFileDetail.ExpiryTimeInSeconds" [ngClass]="{'error-field': submitted && (tokenFileDetail.ExpiryTimeInSeconds == null || tokenFileDetail.ExpiryTimeInSeconds < 6000)}">
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    [disabled]="isLoading">Close</button>
                <button type="button" class="btn btn-primary-c" [disabled]="isLoading" (click)="saveTokenDetail()">
                    <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLoading, 'fa-floppy-disk': !isLoading}"></i>
                    {{ isLoading ? 'Wait' : 'Save' }}
                </button>
            </div>
        </div>
    </div>
</div>